.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  /* background: url("../../assets/bg-main.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}
.main .nav img {
  width: 40px;
  border-radius: 50%;
}

.main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin: 50px 0px;
  font-size: 56px;
  color: #adb5bd;
  font-weight: 500;
  padding: 20px;
}
.main .greet span {
  background: -webkit-linear-gradient(16deg, #f4d35e, #0d3b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards {
  /* display: grid;
  grid-template-columns: repeat((auto-fill, minmax(180px, 1fr))); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.main .card {
  height: 200px;
  width: 180px;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  text-align: left;
}
.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #585858;
  font-size: 17px;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.main-bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }

  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }
  .main-bottom img {
    width: 20px;
  }
  .search-box {
    padding: 5px 10px;
  }
  .search-box div {
    gap: 5px;
  }
  .cards {
    flex-direction: column;
  }
}

.nav-texts p {
  margin: 0 15px;
  font-size: 1rem;
}

.msgInput {
  display: flex;
  flex: 1;
}

.msgInputTxt {
  flex-grow: 1;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.msgInputBtn {
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

.msgView {
  display: flex;
  flex-direction: column;
  flex: 10;
  overflow-y: scroll;
  /* background-color: #ededed; */
  list-style: none;
  padding: 5px;
}
/* .sent, .received {
  display: block;
  margin-bottom: 10px; 
} */
.message-container {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  gap: 10px; 
  margin-bottom: 10px;
}
.managebutton{
  background-color: #e9eef6;
  border: 1px solid black;
  color: #0957d0;
  font-size: 15px;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px 20px;
}
.managebutton:hover{
  background-color: #d9e2f4;
}
.menuitem {
  background-color: white;
  border-radius: 0; /* This will be overridden inline for first and last items */
  width: 90%;
  margin-bottom: 2px; /* This will be overridden inline for the last item */
  padding: 15px;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.menuitem:hover {
  background-color: #f0f0f0; /* Light grey color on hover */
}